In [1]:
import numpy as np
import matplotlib.pyplot as plt
import sklearn 

import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.naive_bayes import BernoulliNB

print("hi")

hi

In [2]:
trainData = pd.read_csv("npf_train.csv")
trainData.head(3)

,id,date,class4,partlybad,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,...,T672.mean,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std
0,1,2000-01-01,nonevent,False,384.462000,2.284996,384.164462,2.135062,385.274688,2.211695,...,-13.016471,0.525698,-12.422972,0.376324,1.635563,0.856948,0.026438,0.014617,0.003374,0.000733
1,2,2000-01-20,nonevent,False,374.884615,0.415185,374.703333,0.385179,375.621266,0.665720,...,-8.997430,0.373927,-8.351043,0.575679,1.441109,0.741088,0.022649,0.012479,0.001501,0.000572
2,3,2000-01-23,nonevent,False,373.496585,0.189497,373.382593,0.172958,373.961481,0.235107,...,-10.224472,0.965988,-9.651155,1.238891,2.677545,1.261612,0.044759,0.023748,0.000764,0.000048

In [3]:
class2 = np.array(["event"]*trainData.shape[0],dtype="object")
class2[trainData["class4"]=="nonevent"] = "nonevent"
trainData["class2"] = class2
trainData["class2"] = trainData["class2"].astype("category")

trainData.head(3)

,id,date,class4,partlybad,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,...,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std,class2
0,1,2000-01-01,nonevent,False,384.462000,2.284996,384.164462,2.135062,385.274688,2.211695,...,0.525698,-12.422972,0.376324,1.635563,0.856948,0.026438,0.014617,0.003374,0.000733,nonevent
1,2,2000-01-20,nonevent,False,374.884615,0.415185,374.703333,0.385179,375.621266,0.665720,...,0.373927,-8.351043,0.575679,1.441109,0.741088,0.022649,0.012479,0.001501,0.000572,nonevent
2,3,2000-01-23,nonevent,False,373.496585,0.189497,373.382593,0.172958,373.961481,0.235107,...,0.965988,-9.651155,1.238891,2.677545,1.261612,0.044759,0.023748,0.000764,0.000048,nonevent

In [4]:
trainData = trainData.set_index("date")
trainData["class4"] = trainData["class4"].astype("category")
trainData = trainData.drop(["id", "partlybad"],axis=1)

trainData.head(3)

,class4,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,CO2504.std,Glob.mean,...,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std,class2
date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,nonevent,384.462000,2.284996,384.164462,2.135062,385.274688,2.211695,383.885077,1.955198,19.245511,...,0.525698,-12.422972,0.376324,1.635563,0.856948,0.026438,0.014617,0.003374,0.000733,nonevent
2000-01-20,nonevent,374.884615,0.415185,374.703333,0.385179,375.621266,0.665720,374.674177,0.435480,31.107659,...,0.373927,-8.351043,0.575679,1.441109,0.741088,0.022649,0.012479,0.001501,0.000572,nonevent
2000-01-23,nonevent,373.496585,0.189497,373.382593,0.172958,373.961481,0.235107,373.275062,0.165500,29.800885,...,0.965988,-9.651155,1.238891,2.677545,1.261612,0.044759,0.023748,0.000764,0.000048,nonevent

In [5]:
trainData.insert(0, 'class22', trainData['class2'])
trainData = trainData.drop('class2', 1)
trainData = trainData.rename(columns={'class22': 'class2'})

trainData['Result'] = trainData['class2'].map(lambda x: x == "event")
trainData['Result'] = trainData['Result'].astype(int)
trainData.insert(0, 'resultV', trainData['Result'])
trainData = trainData.drop('Result', 1)
trainData = trainData.rename(columns={'resultV': 'result'})
trainData.head(5)

,result,class2,class4,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,...,T672.mean,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std
date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,0,nonevent,nonevent,384.462000,2.284996,384.164462,2.135062,385.274688,2.211695,383.885077,...,-13.016471,0.525698,-12.422972,0.376324,1.635563,0.856948,0.026438,0.014617,0.003374,0.000733
2000-01-20,0,nonevent,nonevent,374.884615,0.415185,374.703333,0.385179,375.621266,0.665720,374.674177,...,-8.997430,0.373927,-8.351043,0.575679,1.441109,0.741088,0.022649,0.012479,0.001501,0.000572
2000-01-23,0,nonevent,nonevent,373.496585,0.189497,373.382593,0.172958,373.961481,0.235107,373.275062,...,-10.224472,0.965988,-9.651155,1.238891,2.677545,1.261612,0.044759,0.023748,0.000764,0.000048
2000-02-17,0,nonevent,nonevent,378.600367,1.934180,378.464862,1.946536,379.785872,2.865022,378.316909,...,-1.535183,0.122651,-0.829524,0.134191,2.261805,1.345651,0.030893,0.021903,0.002038,0.000751
2000-03-25,1,event,Ib,373.128684,1.096617,372.980000,1.047750,373.701830,1.259198,372.910000,...,-2.095641,1.695622,-1.095864,2.090111,12.906779,7.022300,0.333523,0.239981,0.000662,0.000210

In [6]:
X = trainData.iloc[:, 3:-1]
y = trainData.iloc[:, 0]
print(X.shape)
print(y.shape)

#X = X.loc[:,['mean' in i for i in X.columns]]
X.head(5)

(458, 99)
(458,)

,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,CO2504.std,Glob.mean,Glob.std,...,T504.std,T672.mean,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean
date,,,,,,,,,,,,,,,,,,,,,
2000-01-01,384.462000,2.284996,384.164462,2.135062,385.274688,2.211695,383.885077,1.955198,19.245511,11.909549,...,0.436362,-13.016471,0.525698,-12.422972,0.376324,1.635563,0.856948,0.026438,0.014617,0.003374
2000-01-20,374.884615,0.415185,374.703333,0.385179,375.621266,0.665720,374.674177,0.435480,31.107659,24.624718,...,0.428726,-8.997430,0.373927,-8.351043,0.575679,1.441109,0.741088,0.022649,0.012479,0.001501
2000-01-23,373.496585,0.189497,373.382593,0.172958,373.961481,0.235107,373.275062,0.165500,29.800885,22.892316,...,1.071755,-10.224472,0.965988,-9.651155,1.238891,2.677545,1.261612,0.044759,0.023748,0.000764
2000-02-17,378.600367,1.934180,378.464862,1.946536,379.785872,2.865022,378.316909,1.983430,23.795211,16.178905,...,0.112492,-1.535183,0.122651,-0.829524,0.134191,2.261805,1.345651,0.030893,0.021903,0.002038
2000-03-25,373.128684,1.096617,372.980000,1.047750,373.701830,1.259198,372.910000,1.004164,252.480327,138.921953,...,1.748079,-2.095641,1.695622,-1.095864,2.090111,12.906779,7.022300,0.333523,0.239981,0.000662

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
cs = StandardScaler()
#X_train = X_train.values.reshape(1,-1) 
#X_test = X_test.values.reshape(1,-1)
X_train = cs.fit_transform(X_train)
X_test = cs.fit_transform(X_test)
print(X_train.shape)
print(y_train.shape)

(366, 99)
(366,)

In [9]:
from sklearn.ensemble import RandomForestClassifier
cl = RandomForestClassifier(n_estimators=30, random_state=0)
cl.fit(X_train, y_train)
y_pred = cl.predict(X_test)

In [10]:
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[[35  2]
 [14 41]]
0.8260869565217391

In [11]:
BNB = BernoulliNB(binarize = True)
BNB.fit(X_train, y_train)
y_predBNB = BNB.predict(X_test)
print(accuracy_score(y_test, y_predBNB))

0.7608695652173914